[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;
Comment=A program for managing portable media players that use the MTP protocol
DocPath=kzen/index.html
Exec=kzen
GenericName=Manage your Creative Zen
Icon=kzen
Name=KZen
Terminal=false
Type=Application
X-DocPath=kzen/index.html
X-DBUS-ServiceName=com.googlecode.kzen
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=true
