[Desktop Entry]
Categories=Qt;KDE;Application;AudioVideo;Player
Comment=A program for managing portable media players that use the MTP protocol
DocPath=kzen/index.html
Encoding=UTF-8
Exec=kzen %i %m -caption "%c"
GenericName=A program for managing portable media players that use the MTP protocol
Icon=kzen
MimeType=text/x-nfo
MultipleArgs=false
Name=KZen
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=Unique
X-KDE-SubstituteUID=false
X-KDE-Username=
